.tools {
  @include max(300px);
  @include size;
  @include box-mod;
  @include list;
  @include block-view;
  display: flex;
  flex-flow: column;

  &__item {
    @include box-mod;
    @include size;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
    box-shadow: none;
    transition: box-shadow $regular-time;

    &:hover {
      cursor: pointer;
      box-shadow: 0 0 2px rgb(117, 117, 117);
    }

    &:active {
      box-shadow: none;
    }

    &_active {
      .tools__sign {
        color: red;
      }
    }
  }

  &__sign-wrapper {
    flex: 0 1 20%;
    margin-right: 5px;

    & input[type="color"] {
      -webkit-appearance: none;
      outline: none;
      border-radius: 50%;
      background-color: black;
      cursor: pointer;
    }

    & input[type="color"]::-webkit-color-swatch-wrapper {
      padding: 0;
      border-radius: 50%;
    }

    & input[type="color"]::-webkit-color-swatch {
      border: none;
      border-radius: 50%;
    }
  }

  &__sign {
    @include box-mod;
    @include set-main-font;
    display: flex;
    font-size: 22px;
    transition: color .3s;

    &_color {
      width: 25px;
      height: 25px;
      border: 1px solid $accent-color;
      border-radius: 50%;
      background-color: white;

      &_red {
        background-color: red;
      }

      &_blue {
        background-color: blue;
      }
    }
  }

  &__text {
    @include set-main-font;
    flex: 0 1 70%;

    &_bracket {
      text-transform: uppercase;
    }
  }
}